@import "@/styles/padding.scss";
@import "@/styles/colors.scss";

.container{
    @include Padding;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    color: $gray-color;
}