@import "@/styles/colors.scss";

.button{
    cursor: pointer;
    border: none;
    padding: 0.7rem;
    width: 100%;
    border-radius: 4px;
    color: $white-color;
    background-color: $blue-color;
}